APP_ENV=dev
APP_DEBUG=1
DATABASE_URL="mysql://<user>:<password>@127.0.0.1:3306/<database>?serverVersion=mariadb-10.11.2"
MESSENGER_TRANSPORT_DSN="redis://127.0.0.1:6379/0"
APP_SECRET=change-me-before-public-deploy
